body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name
{
    font-size: 56px;
    font-weight: 600;
    margin: 20px;
}

.btn
{
    font-size: 20px;
    height: 30px;
    width: 175px;
}

.grid-container 
{
    height: 720px;
    width: 720px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 10px;
    display: flex;
}

.settings-modal
{
    display: none;
    position: fixed;
    z-index: 1;
    height: 500px;
    width: 425px;
    background-color: grey;
}

.modal-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.settings-content
{
    display: flex;
    flex-grow: 1;
}

.color-container, .size-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}

.input
{
    height: 30px;
    width: 115px;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    margin: 6px;
}

.btn-color, .btn-grid, .close-modal
{
    font-size: 20px;
    width: 130px;
}

.close-modal
{
    margin: 15px;
}